body{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
div{
    border: 1px solid black;
    height: 100px;
    width:100px;
    margin-top: 20px;
    padding: 20px;
}
.AI{
    display: flex;
    justify-content: end;
}